/* ================================================================
	template1.css
	epub-cn 框架 v1.1
	http://www.epub-cn.tk
	知识共享署名 3.0 Unported 许可协议
	作者：Peter！
	2012年9月30日
================================================================ */

/*
	调用老牛字体样式中的 zw.ttf 字体。
	老牛字体样式，版权所有：老牛。欢迎非商业性使用，但请注明"老牛字体样式"；商业使用请与老牛联系。
*/
@font-face {
	font-family:"zw";
	src:url(../fonts/zw.ttf),
	url(res:///opt/sony/ebook/FONT/zw.ttf),
	url(res:///Data/FONT/zw.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/zw.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/zw.ttf),
	url(res:///ebook/fonts/zw.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/zw.ttf),
	url(res:///../../media/mmcblk0p1/fonts/zw.ttf),
	url(res:///DK_System/system/font/zw.ttf),
	url(res:///abook/fonts/zw.ttf),
	url(res:///system/fonts/zw.ttf),
	url(res:///system/media/sdcard/fonts/zw.ttf),
	url(res:///media/fonts/zw.ttf),
	url(res:///sdcard/fonts/zw.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/zw.ttf),
	url(res:///media/flash/fonts/zw.ttf),
	url(res:///media/sd/fonts/zw.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/zw.ttf),
	url(res:///../fonts/zw.ttf);
}

/*css 重置*/
html,body,div,a,h1,h2,h3,h4,h5,h6,p,blockquote,img,dl,dt,dd,ol,ul,li,hr {
	border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;
}

body { 
	font-family: "zw";
	margin: 0 20px;
	color: #000;
	orphans: 0;
	widows: 0;
}

/*图书信息*/
#details {
	margin: 0 5%;
}
#details p {
	margin: 0 0 0.5em 15%;
	padding: 0.5em 0.3125em 0.188em 0.75em;
	text-indent: 0;
	background-color: #f5f5f5;
	border-left: 10px double #aaa;
}

/*目录*/
dl {
	margin-left: 10%;
}
dt {
	margin-bottom: 0.625em;
	padding: 0.5em 0.3125em 0.188em 0.3125em;
	background-color: #f5f5f5;
	border-left: 10px solid #777;
}
dd {
	margin: 0 0 0.625em 2.75em;
}
dt a, dd a {
	text-decoration: none;
}
dt span, dd span {
	font-size: 0.875em;
	padding-left: 0.75em;
}

/*标题*/
h1 {
	margin: 15% 5%;
	padding: 5%;
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
	border: 5px double #000;
}
h1 span {
	display: block;
	font-size: 0.75em;
}
h2 {
	margin-bottom: 1em;
	padding: 1.875em 0.333em 0.083em;
	line-height: 1.3;
	font-size: 1.5em;
	background-color: #f5f5f5;
	border-left: 15px solid #777;
	border-right: 5px double #777;
}
h2 span {
	padding-left: 0.5em;
	font-size: 0.75em;
}
h3 {
	margin: 1.8em 0 0.3em;
	padding: 0.65em 0.25em 0.05em;
	font-size: 1.25em;
	border-left: 10px solid #777;
	border-bottom: 3px solid #777;
}
h3 span {
	padding-left: 0.5em;
	font-size: 0.9em;
}
h4 {
	margin: 1.333em 0 0.333em;
	font-size: 1.125em;
}
h4 span {
	margin-left: 0.5em;
	font-size: 0.889em;
}

/*文本*/
a {
	color: #000;
}
p { 
	margin-bottom: 1em;
	line-height: 1.5;
	text-indent: 2em;
	text-align: justify;
}
p.noindent {
	text-indent: 0;
	text-align: justify;
}
blockquote {
	margin: 0 0 1.333em 15%;
	padding: 0.438em 0.438em 0.375em 0.5em;
	line-height: 1.3;
	font-size: 0.938em;
	background-color: #fafafa;
	border-left: 10px solid #999;
	text-align: justify;
}

/*图片*/
img {
	padding: 3% 5%;
	width: 90%;
}
img.left {
	padding: 3% 3% 3% 0;
	width: 47%;
	float: left;
}
img.right {
	padding: 3% 0 3% 3%;
	width: 47%;
	float: right;
}

/*注释*/
.notes p {
	padding: 0.25em 0.5em;
	text-indent: 0;
	margin-bottom: 0.75em;
	background-color: #fafafa;
}

/*其他*/
p.signature {
	margin: 3em 0 0;
	text-align: right;
}
p.date {
	text-align: right;
}
hr {
	margin: 1.5em 0;
	border-top: 1px dashed #000;
}


/*兼容 epubStar 导出样式*/

/*图书信息和版权信息*/
.bookname, .booktitle {
	margin: 15% 5%;
	padding: 5%;
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
	border: 5px double #000;
	text-indent: 0;
	/*兼容 h1*/
}
.bookauthor, .bookpub {
	margin: 0 5% 0.5em 15%;
	padding: 0.5em 0.3125em 0.188em 0.75em;
	text-indent: 0;
	background-color: #f5f5f5;
	border-left: 10px double #aaa;
	/*兼容 #details p，需添加 5% 的右边距*/
}
.copyrighth {
	margin-bottom: 0.5em;
	padding: 0.5em 0.3125em 0.188em 0.75em;
	background-color: #f5f5f5;
	border-left: 10px double #aaa;
	text-indent: 0;
	font-size: 1.125em;
	/*版权页样式*/
}
.titlepage, .titlepagemaker, .creator, .copyrightnotice, .maker, .copyrightp {
	margin: 0 0 0.5em 5%;
	text-indent: 0;
	/*版权页样式*/
}
hr.titlepage {
	margin: 5em 5% 2em;
	border-top: 1px dashed #000;
	/*兼容 hr*/
}

/*目录*/
.contents {
	margin-left: 10%;
	list-style: none;
	/*兼容 dl*/
}
.contents li, .contents li.c1 {
	margin-bottom: 0.625em;
	padding: 0.5em 0.3125em 0.188em 0.3125em;
	background-color: #f5f5f5;
	border-left: 10px solid #777;
	/*兼容 dt*/
}
.contents li.c2 {
	margin: 0 0 0.625em 2.75em;
	line-height: 1.3;
	background: transparent;
	border-left: none;
	/*兼容 dd*/
}
.contents a {
	text-decoration: none;
}

/*引用*/
p.quote {
	margin-left: 15%;
	margin-bottom: 1.333em;
	padding: 0.438em 0.438em 0.375em 0.5em;
	line-height: 1.3;
	font-size: 0.938em;
	background-color: #fafafa;
	border-left: 10px solid #999;
	text-align: justify;
	/*兼容 blockquote*/
}

/*图片*/
.image, .copyrightimage {
	padding: 3% 5%;
	width: 90%;
}
.image_left {
	padding: 3% 3% 3% 0;
	width: 47%;
	float: left;
}
.image_right {
	padding: 3% 0 3% 3%;
	width: 47%;
	float: right;
}
.copyrightimage {
	width: 225px;
	height: 300px;
	padding: 0;
	/*版权页图片*/
}